<div class="ag-grid-container">
  <ag-grid-angular
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [components]="components"
    rowSelection="multiple"
    suppressRowClickSelection="true"
    [allowContextMenuWithControlKey]="true"
    [getContextMenuItems]="getContextMenuItems"
    angularCompileHeaders="true"
    (selectionChanged)="onSelectionChanged($event)"
  >
  </ag-grid-angular>
</div>


<router-outlet></router-outlet>
<!-- suppressContextMenu=true -->
